<form class="note-creator" [formGroup]="form">
  <div class="note-creator__header">
    <span>Your Diary</span>
    <div class="arrow"></div>
  </div>
  <div class="wrap">
    <div class="pull-tab">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <textarea #textarea class="note-creator__textarea" placeholder="Write something" formControlName="text" [(ngModel)]="textAreaConten"></textarea>
  </div>
  <app-emoji-picker *ngIf="emojiPickerShow" (sendEmoji)="addEmoji($event)"></app-emoji-picker>
  <div class="note-creator__controls">
    <button *ngIf="!emojiPickerShow" class="note-creator__controls-smiles smile" (click)="emojiPickerShowToggle()"></button>
    <button *ngIf="emojiPickerShow" class="note-creator__controls-smiles keyboard" (click)="emojiPickerShowToggle()"></button>
    <button class="note-creator__controls-save" (click)="submit()">Save</button>
  </div>
</form>

