:host {
  position: absolute;
  background: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  border-radius: 10px;
}

.note-creator {
  padding: 16px;
  &__textarea {
    width: 363px;
    height: 95px;
    padding: 16px 16px 4px 16px;
    background: #FFFFFF;
    border: 1px solid #F7F8F9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 16px;
    outline: none;
    &::placeholder {
      font-family: 'Roboto Light'git remote add origin https://github.com/vlavirus/your-diary.git;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      color: #90A4AE;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    span {
      font-family: 'Roboto Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      color: #3E52BE;
    }
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    &-save {
      font-family: 'Roboto Regular 400';
      font-size: 10px;
      color: white;
      border-radius: 18px;
      padding: 4px 16px;
      background: #224272;
      outline: none;
      border: none;
    }
    &-smiles {
      outline: none;
      border: none;
    }
  }
}
