@font-face {
  font-family: 'Roboto Medium';
  src: url(~src/assets/fonts/Roboto/Roboto-Medium.ttf) format("opentype");
}

@font-face {
  font-family: 'Roboto Regular 400';
  src: url(~src/assets/fonts/Roboto/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Roboto Light';
  src: url(~src/assets/fonts/Roboto/Roboto-Light.ttf) format("opentype");
}
