.arrow {
  width: 16px;
  height: 16px;
  background: url(~src/assets/icons/arrow.svg) no-repeat center center;
}

.smile {
  width: 24px;
  height: 24px;
  background: url(~src/assets/icons/IconSmile.svg) no-repeat center center;
}

.calendar {
  width: 10px;
  height: 10px;
  background: url(~src/assets/icons/Calendar.svg) no-repeat center center;
}

.keyboard {
  width: 20px;
  height: 20px;
  background: url(~src/assets/icons/keyboard.svg) no-repeat center center;
}

.options {
  width: 14px;
  height: 14px;
  background: url(~src/assets/icons/Vector.svg) no-repeat center center;
}
