.arrow {
  width: 16px;
  height: 16px;
  background: url(~src/assets/icons/arrow.svg) no-repeat center center;
}

.smile {
  width: 24px;
  height: 24px;
  background: url(~src/assets/icons/IconSmile.svg) no-repeat center center;
}
